@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-sans;
}

.inner-content h2 {
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 12px;
}
.inner-content h5 {
  font-size: 18px;
  font-weight: 400;
  color: gray;
  padding-bottom: 16px;
}
.inner-content p {
  margin-bottom: 20px;
}
.inner-content ol {
  list-style: revert-layer;
}
.inner-content ul li {
  margin-bottom: 20px;
  list-style: disc;
}
.inner-content ul li::marker {
  color: red;
}
.careers h4 {
  margin-top: 20px;
  font-weight: 700;
}
.insight-blog p {
  padding-top: 12px;
  padding-bottom: 12px;
}

.insight-blog ul li {
  padding-top: 12px;
  padding-bottom: 12px;
}
.team-content p {
  padding-bottom: 12px;
}
.team-content ol {
  list-style: revert-layer;
  padding-top: 12px;
}
.team-content ul {
  list-style: revert-layer;
  padding-top: 12px;
}
.team-content p strong {
  padding-top: 12px;
}
.careers p {
  padding-top: 4px !important;
}
/* .careers strong {
  padding-top: 12px !important;
} */

.careers ul {
  list-style: revert-layer !important;
}
